body{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 40;
    min-height: 100vh;
    margin: 0;
    flex-warp: warp:
    padding: 20px;
}

img{
    width: 300px;
    height: auto;
  box-shadow: 5px 3px 5px 5px rgb(43, 19, 19) ;
  border-radius: 50px 0px 50px 0px;
    max-width: 100%;
  
}

a img {
    width: 300px;
    height:auto;
}
