body {
    background-color: black;
    display: flex;
    flex-direction: column; /* Organiza os itens em formato de lista (vertical) */
    align-items: center;
    gap: 40px; 
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: white; /* Garante que os textos fiquem visíveis no fundo preto */
}

/* Estilo para a linha divisória */
.linha-separadora {
    width: 80%; /* Controla o comprimento da linha na tela */
    border: 0;
    border-top: 2px solid #333; /* Cria uma linha sólida cinza escuro */
    margin: 10px 0;
}

/* Mantém as imagens com um tamanho visível */
a img {
    width: 300px;
    height: auto;
    box-shadow: 5px 3px 5px 5px rgb(43, 19, 19);
    border-radius: 10%;
}

a {
    text-align: center;
    text-decoration: none;
    color: inherit; /* Faz o texto herdar a cor branca do body */
}
